---
// Calendar embed component. Replace the iframe src with a link to your booking or calendar system.
// This component is optional; you can remove it if you decide to take bookings manually.
---
<div class="mt-8">
  <h2 class="text-xl font-semibold mb-4">Umów spotkanie</h2>
  <iframe
    src="https://calendar.google.com/calendar/embed?src=your-calendar-id%40group.calendar.google.com&ctz=Europe%2FWarsaw"
    style="border: 0"
    width="100%"
    height="600"
    frameborder="0"
    scrolling="no"
  ></iframe>
</div>